<h1>To Do App</h1>
<current-weather city="San Francisco"></current-weather>
	
	<div id="todo" ng-controller="TodoCtrl">
	
		

	<div class = "row">
	 	<div class = "col-sm-4 col-sm-offset-4"> 
	 	<form class = "myForm" ng-submit="addNewTodo()">	What do you want to accomplish today?
	 	<input type="text" ng-model="newTodo" required />
	 	<span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
 
	 	<input type="submit" class = "btn btn-success"value="Submit" />

	<!-- <button ng-click="addNewTodo()" class = "btn btn-success">Just Do it</button> -->
	</form>
	 	
	 	<ul>
	 	
	 	<ng-pluralize count = todos.length
	 	when="{'0': 'You have nothing to do', 'one': 'You have 1 thing to do', 'other': 'You have {} things to do'} ">
	 	</ng-pluralize>
	  		<li ng-repeat="todo in todos"> {{todo.title}} - posted on {{todo.created_at |date:'medium'}}
	  		<button ng-click="delete(todo)" class = "btn btn-danger">Delete</button>
	  		</li>

	  		</ul>
	  	</div>
	  </div>
	</div>